<ion-grid>
  <ion-row>
    <ion-col size="9">
      <ion-label>
        <p class="ion-text-wrap ion-margin-start text-color-primary font-light">
          {{ item.packed }}- {{ item.description }}
        </p>
        <p
          class="text-size-xs text-color-secondary font-light ion-padding-start"
        >
          {{ item.posNo }}
        </p>
      </ion-label>
    </ion-col>
    <ion-col size="2">
      <ion-label
        class="
          text-size-xs text-color-secondary
          font-light
          ion-float-right
          margin-right
        "
      >
        {{ item.location }}
      </ion-label>
    </ion-col>
    <ion-col size="1" class="ion-float-right">
      <ion-checkbox></ion-checkbox>
    </ion-col>
  </ion-row>
</ion-grid>
