<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="urlMenu($event)">
          <ion-icon
            slot="icon-only"
            ios="ellipsis-horizontal"
            md="ellipsis-vertical"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- PAGE 1-->
  <cs-login-layout-1
    *ngIf="isType(0)"
    [loading]="loading"
    [data]="data"
    (onLogin)="onLogin($event)"
    (onRegister)="onRegister($event)"
    (onSkip)="onSkip()"
    (onFacebook)="onFacebook($event)"
    (onTwitter)="onTwitter($event)"
    (onGoogle)="onGoogle($event)"
    (onPinterest)="onPinterest($event)"
  >
  </cs-login-layout-1>

  <!-- PAGE 2-->
  <cs-login-layout-2
    *ngIf="isType(1)"
    [loading]="loading"
    [data]="data"
    (onLogin)="onLogin($event)"
    (onRegister)="onRegister($event)"
    (onSkip)="onSkip()"
    (onFacebook)="onFacebook($event)"
    (onTwitter)="onTwitter($event)"
    (onGoogle)="onGoogle($event)"
    (onPinterest)="onPinterest($event)"
  >
  </cs-login-layout-2>
</ion-app>
