<ion-list class="border" *ngIf="data != null">
    <ion-item class="transparent" lines="none">
      <h2 class="text-size-xs text-color-secondary font-regular "slot="start">{{data.title}}</h2>
      <ion-badge class="new-category" slot="end">{{data.value}}</ion-badge>
    </ion-item>
    <ion-item class="transparent" lines="none">
        <ion-range [min]="data.min" [max]="data.max" pin="true" (ionChange)="onChangeFunc()"
            [(ngModel)]="data.value">
            <i slot="start" class="icon {{data.iconLeft}} icon-font-sm icon-color-secondary"></i>
            <i slot="end" class="icon {{data.iconRight}} icon-font-lg icon-color-secondary"></i>
        </ion-range>
    </ion-item>
</ion-list>
