<!--Themes Time Line - Timeline With Avatar -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row class="ion-padding-start ion-padding-top">
    <ion-col class="ion-no-padding" size="11" offset="1">
      <div class="ion-margin-bottom item-thumbnail" *ngFor="let item of data.items" (click)="onItemClickFunc(item)">
        <span class="ion-text-wrap text-size-xs text-color-accent font-regular">{{item.time}}</span>
        <ion-item class="ion-no-padding transparent ion-margin-top">
          <ion-thumbnail>
            <img [src]="item.avatar">
          </ion-thumbnail>
          <ion-label class="ion-padding-start">
            <h2 class="ion-text-wrap  text-size-md text-color-primary font-light">{{item.title}}</h2>
            <ion-badge class="ion-margin-top">{{item.price}}</ion-badge>
          </ion-label>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
