<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"> </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize"
      >{{'Shipments' | translate }}</ion-title
    >
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      (ionChange)="onSearchTerm($event)"
      (ionClear)="getContainerDetails()"
      placeholder="..."
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- CHECK BOX --COMPONENT 2 -->
  <!-- <ion-grid class="ion-no-padding"> -->
  <!-- <ion-row> -->
  <!-- <ion-col class="ion-no-padding" size="12" *ngIf="data != null" > -->
  <div *ngIf="showSpinner" style="text-align: center">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-refresher #refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-list>
    <ion-item class="transparent" *ngFor="let entry of data">
      <ion-label>
        <h2 class="ion-text-wrap text-size-md text-color-primary font-light">
          {{entry.shipmentNo}}
        </h2>
      </ion-label>
      <h3
        class="
          ion-text-wrap ion-padding-end
          text-size-xs text-color-secondary
          font-light
        "
      >
        {{entry.progress === 'Stored'?entry.location:entry.progress}}
      </h3>
      <ion-checkbox
        [(ngModel)]="entry.isChecked"
        (ionChange)="containerItemClick(entry)"
      ></ion-checkbox>
    </ion-item>
  </ion-list> -->

  <ion-grid class="ion-padding-start">
    <ion-row *ngFor="let entry of data" class="ion-margin-bottom">
      <ion-col size="6" (click)="openContainerDetail(entry)">
        <p class="ion-text-wrap ion-no-margin text-color-primary font-light">
          {{entry?.shipmentNo}}
        </p>
      </ion-col>
      <ion-col size="5">
        <ion-label
          class="
            ion-text-wrap
            text-size-xs text-color-secondary
            font-light
            margin-right
            ion-float-right
          "
        >
          {{ entry.progress === 'Stored'?entry.location:entry.progress }}
        </ion-label>
      </ion-col>
      <ion-col size="1" class="ion-float-right">
        <ion-checkbox
          [(ngModel)]="entry.isChecked"
          (ionChange)="containerItemClick($event,entry)"
        ></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- </ion-col> -->
  <!-- </ion-row> -->
  <!-- </ion-grid> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="itemClicked">
    <ion-fab-button>
      <ion-icon name="add" (click)="bookNow()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
