<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()">
      <ion-icon color="primary" name="close-outline"></ion-icon>
    </ion-button>
    <ion-title>{{ "Packages_list" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [hidden]="!loading" style="text-align: center; width: 100%">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <ion-list [hidden]="loading">
    <ion-item [hidden]="!entry.poNumber">
      <ion-label>
        <h3>Po No:</h3>
      </ion-label>
      <p slot="end">{{ stockDetails?.poNumber }}</p>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Area No:</h3>
      </ion-label>
      <p slot="end">{{ stockDetails?.workNumber }}</p>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Pos No:</h3>
      </ion-label>
      <p slot="end">{{ stockDetails?.posNo }}</p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        <h3>Description:</h3>
      </ion-label>
      <p
        [class.showText]="showAndHideText === true"
        [class.hideText]="showAndHideText === false"
        (click)="hideAndUnhideText()"
      >
        {{ stockDetails?.description }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Product Code:</h3>
      </ion-label>
      <p slot="end">{{ stockDetails?.productCode }}</p>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Drawing No:</h3>
      </ion-label>
      <p slot="end">{{ stockDetails?.drawingNo }}</p>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Part No:</h3>
      </ion-label>
      <p slot="end">{{ stockDetails?.partNo }}</p>
    </ion-item>

    <ion-item [hidden]="!entry.progress">
      <ion-label>
        <h3>Status:</h3>
      </ion-label>
      <p slot="end">{{ stockDetails?.progress }}</p>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Site ETA:</h3>
      </ion-label>
      <p slot="end">{{ recievedDate }}</p>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Location:</h3>
      </ion-label>
      <p slot="end">{{ stockDetails?.location }}</p>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Package:</h3>
      </ion-label>
      <p slot="end">{{ stockDetails?.packageNo }}</p>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Container:</h3>
      </ion-label>
      <p slot="end">{{ stockDetails?.containerNo }}</p>
    </ion-item>
  </ion-list>
</ion-content>
