// .ellipsis {
//   width: 12em;
//   display: -webkit-box;
//   -webkit-line-clamp: 1;
//   -webkit-box-orient: vertical;
// }

.showText {
  text-overflow: unset;
  overflow: hidden;
  white-space: unset;
}

.hideText {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}

.alignTextBottom {
  margin-top: 13%;
}

center {
  display: flex;
  justify-content: center;
  align-items: center;
}
