<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size="12">
        <ion-list>
          <ion-list-header class="border">
            <p class="text-size-xl text-color-accent font-bold">{{data.allComments}}</p>
          </ion-list-header>
          <ion-item class="ion-margin-top transparent" *ngFor="let item of data.items" (click)="onItemClickFunc(item, $event)">
            <ion-avatar class="gradient-image">
              <img [src]="item.image">
            </ion-avatar>
            <ion-label class="ion-padding-start">
              <h3 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h3>
              <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.time}}</h3>
              <p class="ion-text-wrap ion-padding-top text-size-xs text-color-secondary font-light">
                {{item.description}}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
