<ion-list *ngIf="flag == 'url'">
  <ion-item (click)="close('server_1')">{{ "Server 1" | translate }}</ion-item>
  <ion-item (click)="close('server_2')">{{ "Server 2" | translate }}</ion-item>
</ion-list>
