.showText {
  text-overflow: unset;
  overflow: hidden;
  white-space: unset;
}

.hideText {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}

.alignTextBottom {
  margin-top: 13%;
}
