<!-- SWIPE TO DISMISS --COMPONENT 2 -->
<ion-grid class="ion-no-padding" *ngIf="data != null">
  <ion-row>
    <ion-col size="12" class="ion-no-padding">
      <ion-list class="ion-no-margin" #dynamicList>
        <!--Header-->
        <ion-list-header class="border ion-padding">
          <ion-label lines="none">
            <h1 class="ion-text-wrap text-size-xl text-color-primary font-bold">{{data.header}}</h1>
          </ion-label>
        </ion-list-header>
        <ion-item-sliding class="ion-padding-start" *ngFor="let item of data.items" #slidingItem>
          <ion-item class="ion-no-padding" lines="full" (click)="onItemClickFunc(item)">
            <!-- Images -->
            <ion-thumbnail>
              <ion-img [src]="item.image"></ion-img>
            </ion-thumbnail>
            <ion-label class="ion-padding-start">
              <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{item.title}}</h2>
              <p class="ion-text-wrap text-size-xs text-color-secondary font-light" padding-bottom >{{item.subtitle}}</p>
              <ion-button class="ion-float-end button-round ion-text-capitalize" shape="round" fill="outline">
                {{item.ionBadge}}
              </ion-button>
            </ion-label>
          </ion-item>
          <ion-item-options side="end" slot="end">
            <ion-item-option class="background-accent" (click)="onDeleteFunc(item)">
              <!-- Button -->
              <ion-button fill="clear" class="text-color-light text-size-md font-bold ion-text-capitalize" (click)="onDeleteFunc(item)">
                {{item.delate}}
              </ion-button>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
