<ion-header [ngClass]="{'active': isHeaderVisible }">
  <ion-toolbar class="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<!--- Theme Parallax News -->
<ion-page class="ion-page">
  <!--- Header Big Image-->
  <ion-content scrollEvents="true" parallax-header *ngIf="data != null" (ionScroll)="scrolling($event)">
    <div class="header-image background-size gradient-image" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
      <div class="info-section">
        <h2 class="text-size-sm text-color-light font-bold">{{data.category}}</h2>
        <h2 class="ion-no-margin ion-text-wrap text-size-xl text-color-light font-bold">{{data.title}}</h2>
      </div>
    </div>
    <!-- Content -->
    <ion-grid class="ion-no-padding" *ngIf="data != null">
      <ion-row>
        <ion-col class="ion-no-padding background-primary" size="12">
          <ion-item class="transparent">
            <!--Avatar-->
            <ion-avatar>
              <img [src]="data.avatar">
            </ion-avatar>
            <ion-label class="ion-padding-start">
              <p class="ion-text-wrap text-size-md text-color-secondary font-light">{{data.subtitle}}</p>
            </ion-label>
            <ion-button class="ion-no- button-action-shit" slot="end">
              <ion-icon class="icon-font-md icon-color-light" slot="icon-only" [name]="data.shareIcon"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col class="ion-no-padding background-primary" size="12" *ngFor="let item of data.items">
          <ion-item class="transparent" lines="none">
            <ion-label>
              <p class="ion-text-wrap text-size-md text-color-secondary font-regular ion-padding-bottom">{{item.title}}</p>
              <p class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
