/* Profile 1
========================================*/
:host {
  --cs-size-avatar: 120px;
}

ion-card {
  // Settings Avatar
  ion-avatar {
    height: var(--cs-size-avatar);
    width: var(--cs-size-avatar);
    margin: 10px auto;
  }
}

.social-share {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
