<!-- ANIMATION --COMPONENT 9 -->
<ion-grid class="ion-no-padding" *ngIf="data && data.items">
  <ion-row appAnimateItems className="fadeIn">
    <ion-col class="ion-no-padding animation-normal opacity-0" size="12">
      <ion-card class=" ion-no-margin gradient-image background-size no-border-radius"
      [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
        <ion-card-content class="parallax-title-section">
          <!--Title parallax-->
          <h3 class="ion-no-margin text-size-md text-color-light font-regular" *ngIf="data != null">
            {{data.subtitle}}</h3>
          <h2 class="text-size-xl text-color-light font-bold" *ngIf="data != null">
            {{data.title}}</h2>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-no-padding" size="12">
      <ion-list class="ion-no-margin" appAnimateItems className="fadeInRight">
          <ion-item class="transparent animation-slow opacity-0"
          *ngFor="let item of data.items"
          (click)="onItemClickFunc(item)">
            <!--Content Avatar-->
            <ion-thumbnail class="gradient-image">
              <img [src]="item.image">
            </ion-thumbnail>
            <!-- Ttile and Subtitle -->
            <ion-label class="ion-padding-start">
              <h2 class="text-size-md text-color-primary font-light">
                {{item.title}}</h2>
              <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">
                {{item.subtitle}}</h3>
              <ion-badge class="ion-margin-top ion-float-end">
                {{item.button}}</ion-badge>
            </ion-label>
          </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
