<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{'product' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label>
                <ion-text>Po No:</ion-text>
                <ion-text class="float-right">{{qrcode_orderLine.orderLine.poNo}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Area No:</ion-text>
                <ion-text class="float-right">{{qrcode_orderLine.orderLine.areaNo}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Pos No:</ion-text>
                <ion-text class="float-right">{{qrcode_orderLine.orderLine.posNo}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Description:</ion-text>
                <ion-text class="float-right">{{qrcode_orderLine.orderLine.description}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Desc2:</ion-text>
                <ion-text class="float-right">{{qrcode_orderLine.orderLine.description2}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Desc3:</ion-text>
                <ion-text class="float-right">{{qrcode_orderLine.orderLine.description3}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Product Code:</ion-text>
                <ion-text class="float-right">{{qrcode_orderLine.orderLine.productCode}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Drawing No:</ion-text>
                <ion-text class="float-right">{{qrcode_orderLine.orderLine.drawingNo}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Part No:</ion-text>
                <ion-text class="float-right">{{qrcode_orderLine.orderLine.partNo}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <ion-text>Status:</ion-text>
                <ion-text class="float-right">{{qrcode_orderLine.orderLine.status}}</ion-text>
            </ion-label>
        </ion-item>
        <ion-item-divider color="secondary">Stock Items</ion-item-divider>
        <ion-item *ngFor="let items of qrcode_orderLineStockItems">
            <ion-label>
                <ion-text>Code:</ion-text>
                <ion-text class="float-right">{{items.code}}</ion-text>
            </ion-label>
        </ion-item>
    </ion-list>
    <div class="ion-margin"></div>

</ion-content>