<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()">
      <ion-icon color="primary" name="close-outline"></ion-icon>
    </ion-button>
    <ion-title>{{ "OrderLineItems" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="search"
      (ionChange)="onSearchTerm($event)"
      placeholder="..."
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [hidden]="!loading" style="text-align: center; width: 100%">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <!-- <ion-grid [hidden]="loading">
    
  </ion-grid> -->

  <app-orderlinelist
    *ngFor="let packageDetail of packageDetails | filter:search"
    [hidden]="loading"
    [item]="packageDetail"
  ></app-orderlinelist>

  <div class="ion-text-center" *ngIf="packageDetails.length == 0">
    <ion-text color="primary">{{noOrderline}}</ion-text>
  </div>
</ion-content>
