<ion-content  *ngIf="viewEntered">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides #wizardSlider pager="true" *ngIf="data != null"
        (ionSlideDidChange)="ionSlideDidChange()"
        (ionSlideReachStart)="ionSlideReachStart()"
        (ionSlideReachEnd)="ionSlideReachEnd()">
          <ion-slide class="background-size"
          *ngFor="let item of data.items;"
          [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}">
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-no-margin no-box-shadow">
          <ion-card-header>
            <h2 class="ion-text-wrap text-size-md text-color-primary font-light">{{data.title}}</h2>
          </ion-card-header>
          <ion-card-content>
            <p class="text-size-xs text-color-secondary font-light">{{data.description1}}</p>
            <ion-img class="ion-margin-bottom border-radius ion-margin-top" [src]="data.image"></ion-img>
            <p class="text-size-xs text-color-secondary font-light">{{data.description2}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
