<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="data != null">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-no-margin no-box-shadow no-border-radius">
          <ion-card-header class="background-size gradient-image" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
            <!-- Category -->
            <h2 class="ion-no-margin text-size-md text-color-light font-bold">{{data.category}}</h2>
            <!-- Parallax-title -->
            <h1 class="ion-text-wrap text-size-xl text-color-light font-bold ion-no-margin">{{data.title}}</h1>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-item class="transparent border" lines="none">
              <!-- Avatar-->
              <ion-avatar slot="start" class="gradient-image">
                <img [src]="data.avatar" />
              </ion-avatar>
              <ion-label>
                <h2 class="text-size-md text-color-primary font-light">{{data.subtitle}}</h2>
              </ion-label>
              <ion-button class="button-action-shit" (click)="presentActionSheet($event)">
                <ion-icon class="icon-font-md icon-color-light" [name]="data.shareIcon"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item class="transparent ion-padding-top" lines="none" *ngFor="let item of data.items;let i = index">
              <!-- Parallax-description -->
              <p class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</p>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
