<ion-content>
  <ion-grid *ngIf="data != null">
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let item of data.items">
        <ion-card class="no-box-shadow border-radius ion-no-padding ion-no-margin">
          <ion-card-content class="ion-no-padding background-size gradient-image"  lines="none" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
          </ion-card-content>
          <ion-card-content class="ion-no-padding">
            <ion-item class="transparent" lines="none">
              <ion-label>
                <h1 class="ion-text-wrap ion-text-capitalize text-size-md text-color-primary font-regular">{{item.title}}</h1>
                <p class="ion-text-wrap text-size-p text-color-primary font-light">{{item.description}}</p>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
