/* SETTINGS RTL STYLE
=======================================================
=======================================================*/
html[dir=rtl] {
  ion-reorder {
    border-right: 1px solid var(--cs-background-border);
    border-left: none !important;
  }
  /* SETTINGS INPUT FIELD
      =======================================================*/
  [input] {
    ion-icon {
      left: 5px !important;
      right: unset !important;
    }
  }
  /* SETTINGS COMMENTS WITH TIMELINE
      =======================================================*/
  cs-comment-layout-2 {
    ion-item {
      &:before {
        left: unset;
        right: 50px;
      }
    }
  }
  /* SETTINGS TIMELINE
    =======================================================*/
  cs-timeline-layout-1,
  cs-timeline-layout-3 {
    ion-card {
      &:after {
        right: -30px;
        left: unset;
      }

      &:before {
        right: -36px;
        left: unset;
      }
    }
  }

  cs-timeline-layout-2 {
    .item-thumbnail {
      &:after {
        right: -30px;
        left: unset;
      }

      &:before {
        right: -36px;
        left: unset;
      }
    }
  }
  /* SETTINGS ALERT
    =======================================================*/
  .alert-button-group {
    padding: 8px 8px 8px 0 !important;
  }

  .border-radius-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }
}
