<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'Stock' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="hideandShowSearch()">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [hidden]="showSearch">
    <ion-searchbar
      showCancelButton="focus"
      (ionChange)="onSearchTerm($event)"
      (ionClear)="getStockDetails()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [hidden]="!showMode">
    <ion-label>Mode</ion-label>
    <ion-select [(ngModel)]="mode">
      <ion-select-option default value="Stock Items"
        >Stock items</ion-select-option
      >
      <ion-select-option value="Master Search">Master Search</ion-select-option>
    </ion-select>
  </ion-item>
  <form [formGroup]="aForm" [hidden]="!showSearch">
    <ion-list>
      <ion-item>
        <ion-label class="greyColor">Area No</ion-label>
        <ion-input
          class="increase-Font"
          type="text"
          formControlName="workNo"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="greyColor">POS No</ion-label>
        <ion-input
          class="increase-Font"
          type="text"
          formControlName="posNo"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="greyColor">Description</ion-label>
        <ion-input
          class="increase-Font"
          type="text"
          formControlName="description"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="greyColor">Product Code</ion-label>
        <ion-input
          class="increase-Font"
          type="text"
          formControlName="partNo"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Supplier</ion-label>
        <!-- <ion-input
          class="increase-Font"
          type="text"
          formControlName="suppliers"
        ></ion-input> -->
        <ion-select
          *ngFor="let supplier of suppliers"
          formControlName="suppliers"
          multiple="true"
        >
          <ion-select-option [value]="supplier.id">
            {{supplier.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="greyColor">PO No</ion-label>
        <ion-input
          class="increase-Font"
          type="text"
          formControlName="poNo"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="greyColor">Drawing No</ion-label>
        <ion-input
          class="increase-Font"
          type="text"
          formControlName="drawingNo"
        ></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        fill="outline"
        [disabled]="aForm.invalid"
        (click)="searchForm()"
        >Search</ion-button
      >
    </ion-list>
  </form>

  <div class="center" *ngIf="!recordsFound && !showSearch">
    <h5><ion-text>No Records Found</ion-text></h5>
  </div>
  <ion-list *ngIf="!showSearch">
    <div class="center">
      <ion-spinner
        *ngIf="showSpinner"
        color="primary"
        name="bubbles"
      ></ion-spinner>
    </div>

    <ion-grid>
      <ion-row
        *ngFor="let entry of data"
        [class.highlight]="(!entry.parentId && mode == 'Master Search')"
      >
        <ion-col size="12" (click)="showStockDetails(entry)">
          <h2
            class="
              ion-text-wrap
              text-size-md
              ion-no-margin
              text-color-primary
              font-light
            "
          >
            {{entry.areaNo ? entry.areaNo + ', ' : '' }} {{entry.posNo}}
          </h2>
        </ion-col>
        <ion-col
          [size]="(!entry.progress || entry.progress === 'Stored') ? 9 : 7"
        >
          <h3
            class="
              ion-text-wrap ion-no-margin
              text-size-xs text-color-secondary
              font-light
            "
          >
            {{entry.description}}
          </h3>
        </ion-col>
        <ion-col size="2" class="ion-float-right">
          <ion-label class="text-size-xs text-color-secondary font-light">
            {{ entry.location ? entry.location : entry.locationString }}
          </ion-label>
        </ion-col>

        <ion-col
          size="2"
          [hidden]="!entry.progress || entry.progress === 'Stored'"
        >
          <ion-label class="text-size-xs text-color-secondary font-light">
            {{ entry.progress ? entry.progress : '' }}
          </ion-label>
        </ion-col>
        <ion-col size="1" class="ion-float-right">
          <ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
  <!-- </ion-col>
        </ion-row>
    </ion-grid> -->
</ion-content>
