.increase-Font {
  font-size: large;
  color: grey;
}

.greyColor {
  color: grey;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignright {
  margin-left: 83%;
}

.my-checkbox {
  display: flex;
  align-items: center;
}

.highlight {
  background-color: #c4e9d1;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}
