<ion-grid>
  <ion-row (click)="openContainerPackages(item)">
    <ion-col size="9">
      <p class="ion-text-wrap ion-no-margin text-color-primary font-light">
        {{ item.containerNo }}
      </p>
    </ion-col>
    <ion-col size="2">
      <ion-label
        class="
          text-size-xs text-color-secondary
          font-light
          ion-float-right
          margin-right
        "
      >
        {{ item.location }}
      </ion-label>
    </ion-col>
    <ion-col size="1" class="ion-float-right">
      <ion-checkbox></ion-checkbox>
    </ion-col>
  </ion-row>
</ion-grid>
