<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()">
      <ion-icon color="primary" name="close-outline"></ion-icon>
    </ion-button>
    <ion-title>{{ "Containers" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="search"
      (ionChange)="onSearchTerm($event)"
      placeholder="..."
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [hidden]="!loading" style="text-align: center; width: 100%">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <!-- <ion-grid [hidden]="loading">
  </ion-grid> -->
  <app-containerlist
    *ngFor="let detail of containerDetails | filter:search"
    [hidden]="loading"
    [item]="detail"
  ></app-containerlist>

  <div class="ion-text-center" *ngIf="containerDetails.length == 0">
    <ion-text color="primary">{{noContainers}}</ion-text>
  </div>
</ion-content>
