<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"> </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize"
      >{{'Packages' | translate }}</ion-title
    >
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      (ionChange)="onSearchTerm($event)"
      (ionClear)="getPackageDetails()"
      placeholder="..."
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- CHECK BOX --COMPONENT 2 -->
  <!-- <ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col class="ion-no-padding" size="12" *ngIf="data != null"> -->
  <div *ngIf="showSpinner" style="text-align: center">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-refresher #refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid
    class="transparent"
    *ngFor="let entry of data"
    [hidden]="data.length<=0"
  >
    <ion-row>
      <ion-col size="12" (click)="openPackagelist(entry)">
        <ion-label class="ion-text-wrap">
          <h2 class="ion-text-wrap text-size-md text-color-primary font-light">
            {{entry.packageNo}}
          </h2>
          <p class="ion-text-wrap text-size-xs text-color-primary font-light">
            {{entry.description}}
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"
        ><p
          class="ion-text-wrap text-size-xs text-color-primary font-light ion-no-margin"
        >
          {{entry.poNo}}
        </p>
      </ion-col>
      <ion-col size="5">
        <ion-label
          class="ion-text-wrap text-color-secondary font-light ion-no-margin ion-float-right margin-right"
        >
          {{entry.progress === 'Stored'?entry.location:entry.progress}}
        </ion-label>
      </ion-col>
      <ion-col size="1"
        ><div>
          <ion-checkbox
            [(ngModel)]="entry.isChecked"
            (ionChange)="addItemClick($event,entry)"
          ></ion-checkbox>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2 class="ion-text-wrap text-size-md text-color-primary font-light">
          {{entry.packageNo}}
        </h2>
        <p class="ion-text-wrap text-size-xs text-color-primary font-light">
          {{entry.description}}
        </p>
        <p class="ion-text-wrap text-size-xs text-color-primary font-light">
          {{entry.poNo}}
        </p>
      </ion-label>
      <h3
        class="
          ion-text-wrap ion-padding-end
          text-size-xs text-color-secondary
          font-light
        "
      >
        {{entry.progress === 'Stored'?entry.location:entry.progress}}
      </h3>
      <div><ion-checkbox [(ngModel)]="entry.isChecked"></ion-checkbox></div>
    </ion-item>
  </ion-list> -->

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- </ion-col>
  </ion-row>
</ion-grid> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="itemClicked">
    <ion-fab-button>
      <ion-icon name="add" (click)="bookNow()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
