.min-max-width {
    max-width: 200px;
    margin: 0 auto;
}

ion-card{
    text-align: center;
}

// ion-spinner {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     --color: white;
//     color: white;
// }