ion-toolbar {
  color: var(--cs-text-light);
}

.ios {
  ion-back-button,
  ion-menu-button {
    --color: var(--cs-text-light);
  }
}

.active {
  ion-toolbar {
    background: var(--cs-background-primary);
    color: var(--cs-text-accent);
  }

  .ios {
    ion-back-button,
    ion-menu-button {
      --color: var(--cs-text-accent);
    }
  }
}

.background-size {
  height: 40vh;
  position: relative;
  }
  /* Parallax Title
   =============================================*/
  .parallax-title-section {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
  
}
