/*  # Time Line -- Timeline With Comments
===========================================*/

ion-card {
  overflow: visible;
  position: relative;
  box-shadow: none;
  margin: 16px 0 16px 0px;

  &:after {
    content: "";
    width: 1px;
    background-color: var(--cs-background-border);
    top: 10px;
    left: -20px;
    bottom: -30px;
    position: absolute;
  }

  &:before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--cs-background-accent);
    top: 0;
    left: -26px;
    position: absolute;
    z-index: 999;
  }
}

ion-col > ion-card:last-child {
  &:after {
    display: none;
  }
}
