<!-- Theme Search Bars - Field + header -->
<ion-page class="ion-page" *ngIf="viewEntered">
  <!-- Header -->
  <ion-header class="background-size gradient-image" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
    <ion-toolbar class="transparent">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">{{data.toolbarTitle}}</ion-title>
    </ion-toolbar>
    <ion-toolbar class="padding-half transparent">
      <h1 class="ion-margin-top  text-size-xl text-color-light font-bold">{{data.title}}</h1>
      <ion-searchbar [(ngModel)]="search" (ionInput)="onTextChangeFunc($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <!-- Content -->
  <ion-content>
    <ion-grid class="ion-no-padding">
      <ion-row *ngIf="data != null">
        <ion-col class="ion-no-padding" size="12" *ngFor="let item of data.items | filter:search" (click)="onItemClickFunc(item)">
          <ion-list class="ion-no-margin">
            <ion-item class="transparent">
              <!--Content Avatar-->
              <ion-thumbnail>
                <img [src]="item.avatar">
              </ion-thumbnail>
              <!-- Ttile and Subtitle -->
              <ion-label class="ion-padding-start">
                <h2 class="text-size-md text-color-primary font-light ion-text-capitalize">{{item.title}}</h2>
                <h3 class="ion-text-wrap text-size-xs text-color-secondary font-light">{{item.subtitle}}</h3>
                <ion-badge class="ion-margin-top ion-float-end" >{{item.button}}</ion-badge>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-page>
