<ion-grid class="ion-no-padding">
  <ion-row  *ngIf="scannedData != null">
    <ion-col size="12" class="ion-padding">
      <ion-list>
        <ion-item lines="none" class="ion-text-wrap transparent">
          <h1 class="ion-text-wrap text-size-xl text-color-accent font-bold">{{scannedData.format}}</h1>
        </ion-item>
        <ion-item class="ion-text-wrap transparent">
          <p class="ion-text-wrap text-size-sm text-color-primary font-regular">{{scannedData.text}}</p>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
