<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()">
      <ion-icon color="primary" name="close-outline"></ion-icon>
    </ion-button>
    <ion-title>{{ "Packages_list" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="search"
      (ionChange)="onSearchTerm($event)"
      placeholder="..."
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [hidden]="!loading" style="text-align: center; width: 100%">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <app-packagelist
    [hidden]="loading"
    *ngFor="let packageDetail of packageDetails | filter:search"
    [item]="packageDetail"
  ></app-packagelist>
  <div class="ion-text-center" *ngIf="packageDetails.length == 0">
    <ion-text color="primary">{{noPackages}}</ion-text>
  </div>
  <!-- <ion-grid [hidden]="loading">
    <ion-row
      *ngFor="let containerDetail of containerDetails"
      (click)="openPackageDetail(containerDetail)"
    >
      <ion-col size="8">
        <p class="ion-text-wrap ion-no-margin text-color-primary font-light">
          {{ containerDetail.packageNo }}
        </p>
        <p class="text-size-xs text-color-secondary font-light ion-no-margin">
          {{ containerDetail.poNo }}
        </p>
      </ion-col>
      <ion-col size="3">
        <ion-label
          class="text-size-xs text-color-secondary font-light ion-margin"
        >
          {{containerDetail.location}}
        </ion-label>
      </ion-col>
      <ion-col size="1" class="ion-float-right">
        <ion-checkbox></ion-checkbox>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
