<ion-grid>
  <ion-row (click)="openPackageItemDetail(item)">
    <ion-col size="7">
      <ion-label>
        <p class="ion-text-wrap ion-margin-start text-color-primary font-light">
          {{ item.packageNo }}
        </p>
      </ion-label>
    </ion-col>
    <ion-col size="4" class="ion-float-right ion-no-margin">
      <ion-label
        class="
          text-size-xs text-color-secondary
          font-light
          ion-float-right
          margin-right
        "
      >
        {{ item.location }}
      </ion-label>
    </ion-col>
    <ion-col size="1" class="ion-float-right">
      <ion-checkbox></ion-checkbox>
    </ion-col>
  </ion-row>
</ion-grid>
