<ion-app>
  <!--- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>All</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--- Content text exapmles  --->
  <ion-content class="ion-no-padding">
    <ion-grid class="ion-no-padding">
      <ion-col class="ion-no-padding" size="12">
        <ion-list class="ion-padding-start">
          <div class="text-uppercase padding-bottom text-size-xl text-color-accent font-bold border ion-padding-bottom">Typography examples:</div>
          <h1 class="text-size-xl text-color-primary font-light">This is example of h1 title.</h1>
          <h2 class="text-size-lg text-color-primary font-light">And this is example of h2 title/subtitle.</h2>
          <h3 class="text-size-md text-color-primary font-light">Example of h3 subtitle is also here.</h3>
          <h4 class="text-size-xs text-color-primary font-light">And h4 subtitle example is here.</h4>
          <h5 class="text-size-sm text-color-primary font-light">h5 subtitle is like this!</h5>
          <h6 class="text-size-sm text-color-primary font-light">And h6 at the end usualy same as h6.</h6>
          <p class="text-size- text-color-primary font-light">This is example of paragraph text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
          <!--- BADGE EXAMPLE  --->
          <div class="ion-margin-bottom text-size-md text-color-primary font-light border ion-text-uppercase ion-padding-vertical text-size-md">Badge examples:</div>
          <ion-row>
            <ion-col siye="12">
              <ion-badge>$127</ion-badge>
            </ion-col>
          </ion-row>
          <!--- BUTTON EXAMPLE  --->
          <div class="ion-margin-bottom text-size-md text-color-primary font-light border ion-text-uppercase ion-padding-vertical text-size-md">Button examples:</div>
          <ion-row>
            <ion-col size="12" size-md="6">
              <span class="text-size-xs text-color-primary font-light ion-text-capitalize">Default button</span>
              <div class="clerfix"></div>
              <ion-button class="ion-text-capitalize button-default">
                Button
              </ion-button>
            </ion-col>
            <ion-col size="12" size-md="6">
              <span class="text-size-xs text-color-primary font-light ion-text-capitalize">Button with icon</span>
              <div class="clerfix"></div>
              <ion-button class="ion-text-capitalize button-icon" fill="clear">
                <ion-icon class="icon-font-sm icon-color-accent" slot="start" name="star"></ion-icon>
                Button
              </ion-button>
            </ion-col>
            <ion-col size="12" size-md="6">
              <span class="text-size-xs text-color-primary font-light ion-text-capitalize">Clear button</span>
              <div class="clerfix"></div>
              <ion-button class="ion-text-capitalize button-clear "fill="clear">
                Button
              </ion-button>
            </ion-col>
            <ion-col size="12" size-md="6">
              <span class="text-size-xs text-color-primary font-light ion-text-capitalize">Action Sheet Button</span>
              <div class="clerfix"></div>
              <ion-item class="transparent" lines="none">
                <ion-button class="button-action-shit">
                  <ion-icon class="icon-font-md icon-color-light" slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
          <!--- ICON EXAMPLES  --->
          <div class="ion-margin-bottom text-size-md text-color-primary font-light border text-uppercase ion-padding-vertical text-size-md">ICON EXAMPLES:</div>
          <span class="block ion-padding-vertical text-size-xs">Small</span>
          <i class="icon icon-thumb-up icon-font-sm icon-color-accent"></i>
          <i class="icon icon-heart icon-font-sm icon-color-accent"></i>
          <i class="icon icon-share-variant icon-font-sm icon-color-accent"></i>
          <span class="block ion-padding-vertical text-size-xs">Medium</span>
          <i class="icon icon-thumb-up icon-font-md icon-color-accent"></i>
          <i class="icon icon-heart icon-font-md icon-color-accent"></i>
          <i class="icon icon-share-variant icon-font-md icon-color-accent"></i>
          <span class="block ion-padding-vertical text-size-xs">Large</span>
          <i class="icon icon-thumb-up icon-font-lg icon-color-accent"></i>
          <i class="icon icon-heart icon-font-lg icon-color-accent"></i>
          <i class="icon icon-share-variant icon-font-lg icon-color-accent"></i>
          <span class="block ion-padding-vertical text-size-xs">Large</span>
          <i class="icon icon-thumb-up icon-font-xl icon-color-accent"></i>
          <i class="icon icon-heart icon-font-xl icon-color-accent"></i>
          <i class="icon icon-share-variant icon-font-xl icon-color-accent"></i>
        </ion-list>
      </ion-col>
    </ion-grid>
  </ion-content>
</ion-app>
